<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Ask to AI</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <div class="joined-message-container" *ngIf="showJoinedMessage"> 
            <div class="joined-message">{{ joinedMessage }}</div> 
        </div>
       
        <ul id="messageArea">
            <li *ngFor="let message of messages" [ngClass]="{'sent-message': true}">
                {{ message }}
            </li>
        </ul>
        
        <form id="messageForm" (ngSubmit)="sendMessage()" #messageForm="ngForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" [(ngModel)]="newMessage" name="message"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
